/*---------- Импорт шрифтов --- НАЧАЛО ----------*/
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'BebasRegular';
	src: url('../fonts/BebasRegular/BebasRegular.eot');
	src: url('../fonts/BebasRegular/BebasRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BebasRegular/BebasRegular.woff') format('woff'),
		 url('../fonts/BebasRegular/BebasRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot');
	src: url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
		 url('../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
/*---------- Импорт шрифтов --- КОНЕЦ ----------*/

/*---------- Кастомизированный Bootstrap --- НАЧАЛО ----------*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}.row{margin-left:-15px;margin-right:-15px}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important;visibility:hidden !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none !important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none !important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none !important}}@media (min-width:1200px){.hidden-lg{display:none !important}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}

/*---------- Кастомизированный Bootstrap --- КОНЕЦ ----------*/

/*---------- Общие настройки --- НАЧАЛО ----------*/
body {
    font: 16px "RobotoRegular", sans-serif;
}

a,
a:focus {
    outline: none;
}
/*---------- Общие настройки --- КОНЕЦ ----------*/

/*---------- HEADER --- НАЧАЛО ----------*/
header {
    background: #191919 url(../img/top_bg.jpg) no-repeat top center;
    min-height: 644px;
    position: relative;
    font: bold 20px 'BebasRegular', Arial, sans-serif;
}

header a {
    color: #fff;
}

.top_line {
    background: rgba(0, 0, 0, .6);
    min-height: 97px;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    width: 100%;
    padding: 22px 0;
}

.top_line a {
    font-size: 21px;
    border-bottom: 1px #fff dashed;
    letter-spacing: 1px;
}

.top_line a:hover {
    border-bottom: 1px solid #fff;
}

.top_addr {
    padding: 0 0 10px 50px;
    background: url(../img/top_map.png) no-repeat center left;
    line-height: 16px;
}

.top_addr strong {
    display: block;
    color: #d12f22;
    text-transform: uppercase;
    font: bold 32px 'BebasRegular', Arial, sans-serif;
}

.logo_wrap {
    position: relative;
    width: 249px;
    margin: 0 auto;
}

a.logo {
    position: absolute;
    top: -10px;
    border: 0;
    z-index: 10;
}

a.logo:hover {
    border: 0;
}

.ta_right {
    background: 0;
    padding: 0;
    text-align: right;
}

.ta_right span {
    color: #fff;
}

header h1 {
    text-align: center;
    color: #fff;
    margin-top: 58px;
    font-size: 40px;
    text-shadow: 0 3px 0 rgba(0, 0, 0, .55);
    font-weight: normal;
}

.buttons_top {
    position: absolute;
    width: 100%;
    bottom: 32px;
}

header .button {
    margin-right: 20px;
}

.button {
    display: inline-block;
    background: #b10d00;
    height: 50px;
    vertical-align: middle;
    line-height: 44px;
    padding: 0 20px;
    border: 3px outset #d12f22;
    letter-spacing: 1px;
    font-weight: normal;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.button:hover {
    background-color: #d12f22;
    text-shadow: 0 1px 0 #000;
}

.button:active {
    border-style: inset;
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
    background-color: #8d0a00;
}

.eval_price {
    line-height: 19px;
    padding: 3px 20px 0 65px;
    text-align: left;
    background: #b10d00 url(../img/camera_icon.png) no-repeat 8px 7px;
}
/*---------- HEADER --- КОНЕЦ ----------*/

/*---------- Верхняя навигационная панель --- НАЧАЛО ----------*/

.top_menu {
    height: 62px;
    background-color: #242424;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    font: 20px 'BebasRegular', Arial, sans-serif;
}

.top_menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    letter-spacing: -50px;
    font-size: 0;
}

.top_menu li {
    display: inline-block;
    letter-spacing: normal;
    font-size: 20px;
}

.top_menu a {
    color: #fff;
    display: block;
    padding: 0 26px 0 50px;
    line-height: 62px;
    border-left: 1px solid #3b3b3b;
    background: url(../img/top_menu_icons_set.png) no-repeat 20px 16px;
}

.top_menu li:nth-child(2) a {
    background-position: 20px -38px;
}

.top_menu li:nth-child(3) a {
    background-position: 23px -87px;
}

.top_menu li:nth-child(4) a {
    background-position: 16px -135px;
}

.top_menu li:nth-child(5) a {
    background-position: 18px -191px;
}

.top_menu li:nth-child(6) a {
    background-position: 20px -253px;
}

.top_menu li:last-child a {
    border-right: 1px solid #3b3b3b;
}

.top_menu li.active a,
.top_menu li:hover {
    background-color: #050505;
}

.warranty {
    float: right;
    padding: 1px 5px;
    margin-top: 7px;
    color: #d12f22;
    cursor: default;
    font-size: 15px;
    border: 3px solid #d12f22;
    border-radius: 5px;
    line-height: 16px;
}

.warranty_left,
.warranty_right {
    display: inline-block;
    vertical-align: middle;
}

.warranty_left {
    font: bold 33px 'BebasRegular', Arial, sans-serif;
    text-transform: lowercase;
    padding-right: 7px;
}

.warranty_left span {
    font-size: 20px;
}

.warranty_right {
    font-family: 'RobotoCondensedRegular', Arial, sans-serif;
    text-transform: uppercase;
}
/*---------- Верхняя навигационная панель --- КОНЕЦ ----------*/

/*---------- Секция с основным центральным меню --- НАЧАЛО ----------*/
.main_services_wrap {
    background-color: #191919;
    padding: 20px 0 40px;
    text-align: center;
    font: 36px 'BebasRegular', Arial, sans-serif;
}

.main_services_wrap h2 {
    text-transform: uppercase;
    color: #c9c9c9;
    position: relative;
}

.main_services_wrap h2::before,
.content h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: url(../img/decor_lines_service_header.png);
    top: 20px;
    left: 225px;
}

.main_services_wrap h2::after,
.content h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: url(../img/decor_lines_service_header.png) -50px 0;
    top: 20px;
    margin-left: 11px;
}

.main_services_wrap h2 strong {
    color: #fff;
}

.main_services_wrap h2 span {
    color: #d12f22;
}

.services_main_part {
    list-style-type: none;
    padding: 0;
    position: relative;
}

.services_main_part li {
    display: inline-block;
    width: 160px;
    margin: 0 8px;
    box-sizing: border-box;
    border: 1px solid #353535;
    border-radius: 5px;
    vertical-align: top;
    color: #fff;
}

.services_main_part >li.arr::after {
    content: '';
    width: 22px;
    height: 11px;
    background: transparent url(../img/services_decor_triangle.png) no-repeat center center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 10px 0 0 -10px;
}

@media screen and (min-width:0\0) {  
    /*Хак для IE9 и IE10 убирающий стрелки, т.к. они норм. не отображаются*/  
    .services_main_part >li.arr::after {
        content: '';
        display: none;
    }
}

.services_main_part li.active,
.services_main_part li:hover {
    text-decoration: underline;
    background: #2a2a2a;
}

.services_main_part a {
    display: block;
    color: #fff;
    padding: 20px 0 0;
}

.services_main_part span {
    display: block;
    height: 73px;
    width: 104px;
    background: url(../img/services_icons_set.png) no-repeat 7px 0;
    margin: 0 auto;
    padding: 10px 0;
    box-sizing: content-box;
}

.services_main_part h4 {
    margin: 0;
    font: 20px 'BebasRegular', Arial, sans-serif;
}

.services_main_part li:nth-child(2) h4 {
    font-size: 18px;
    padding-bottom: 2px;
}

.services_main_part li:nth-child(2) span {
    background-position: -185px 0;
}

.services_main_part li:nth-child(3) span {
    background-position: -375px 0;
}

.services_main_part li:nth-child(4) span {
    background-position: -563px 0;
}

.services_main_part li:nth-child(5) span {
    background-position: -752px 0;
}

.services_main_part li:nth-child(6) span {
    background-position: -943px 0;
}

.serv_arrow {
    height: 26px;
    margin-top: 9px;
    background: #212121 url(../img/services_arrows.png) no-repeat center -18px;
}

.active .serv_arrow,
.services_main_part li:hover .serv_arrow {
    background-color: #353535;
    background-position: center 10px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*---------- Вложенное меню --- НАЧАЛО ---------- */
.services_main_part ul {
    margin: 20px 37px 0 0;
    padding: 10px 0;
    position: absolute;
    left: 36px;
    background: #353535;
    max-width: 1170px;
    text-align: center;
    z-index: 10;
    display: none;
}

.services_main_part ul li {
    margin: 0 5px;
    padding: 3px;
    border: 0;
    display: inline-block;
    text-align: center;
    border: 2px dotted #666;
    background: #191919;
}

.services_main_part ul li:hover {
    background: none;
}

.services_main_part ul li a {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
/*---------- Вложенное меню --- КОНЕЦ ---------- */
.main_services_wrap .button,
.content_footer .button {
    margin-top: 115px;
    color: #fff;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 1px;
}
/*---------- Секция с основным центральным меню --- КОНЕЦ ----------*/

/*---------- Секция с контентом (article) --- НАЧАЛО ----------*/
.content {
    background: #d6d6d6;
    text-align: center;
    color: #050505;
}

.content_head h2 {
    font: bold 36px "BebasRegular";
    margin-bottom: 20px;
}

.content_head h2::before {
    background: url(../img/decor_lines_content.png);
    top: 42px;
    left: 240px;
}

.content_head h2::after {
    background: url(../img/decor_lines_content.png) -50px 0;
    top: 42px;
    margin-left: 11px;
}

.content_head p {
    max-width: 790px;
    font-weight: bold;
    margin: 0 auto 20px;
}

.content_head {
    background: #e9e9e9;
}

.content_main {
    background: #d6d6d6;
    padding-top: 30px;
}

.content_main img {
    border-top: 8px solid red;
}

.content_main figcaption {
    padding: 25px 10px 30px;
    font: bold 14px "RobotoRegular", Arial, sans-serif;
}

.content_footer {
    background: #fff;
    padding-top: 30px;
}

.content_footer h2 {
    text-align: left;
    font: bold 36px "BebasRegular", Arial, sans-serif;
    margin: 0;
}

.content_footer h2::before,
.content_footer h2::after {
    content: "";
    display: none;
}

.content_footer .button {
    margin: 0;
    font-family: "BebasRegular", Arial, sans-serif;
}

.content_footer p {
    font: 16px "RobotoCondensedRegular", Arial, sans-serif;
    text-align: justify;
    padding-right: 5px;
}

.content_footer p:last-child {
    margin-bottom: 0;
}
/*---------- Секция с контентом (article) --- КОНЕЦ ----------*/

/*---------- FOOTER --- НАЧАЛО ----------*/
.main_footer {
    background: #2a2a2a;
    color: #fff;
    font: 18px "BebasRegular", Arial, sans-serif;
    padding: 30px 0;
}

.main_footer a {
    color: #fff;
}

.copyright {
    letter-spacing: 1px;
}

.main_footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_footer li {
    display: inline-block;
}

.main_footer li a {
    display: block;
    padding: 0 15px;
    line-height: 71px;
}

.main_footer li a:hover {
    text-decoration: underline;
}

.counter {
    display: block;
    text-align: right;
    line-height: 71px;
}
/*---------- FOOTER --- КОНЕЦ ----------*/
/*---------- Форма обратного звонка --- НАЧАЛО ----------*/
form {
    background: rgba(255,255,255,0.7);
    color: #000;
    max-width: 400px;
    margin: 0 auto;
    z-index: 20;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font: normal 21px 'BebasRegular', Arial, sans-serif;
    letter-spacing: 1px;
}
fieldset {
    border-color: #808080;
}
legend {
    font-weight: bold;
}
label {
    display: block;
    padding-bottom: 10px;
    margin-right: 10px;
}
input {
    width: 280px;
    margin-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    font: 15px Verdana, sans-serif;
    line-height: 22px;
}
input[type="reset"] {
    font-size: 17px;
    width: auto;
    font: normal 21px 'BebasRegular', Arial, sans-serif;
}
input[type="submit"]{
    font: normal 21px 'BebasRegular', Arial, sans-serif;
}
#request {
    max-width: 500px;
}
#request label {
    padding-bottom: 3px;
}
textarea {
    display: inline-block;
    resize: none;
    font: 15px Verdana, sans-serif;
}
textarea::-moz-placeholder, input::-moz-placeholder {font: normal 21px 'BebasRegular', Arial, sans-serif;}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea:-ms-input-placeholder, input:-ms-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea::-ms-input-placeholder, input::-ms-input-placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
textarea::placeholder, input::placeholder { font: normal 21px 'BebasRegular', Arial, sans-serif; }
/*---------- Форма обратного звонка --- КОНЕЦ ----------*/